body {
  background-image: url("city.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;

}

h1 {
  color: red;
  font-size: 27pt;
}
a {
  color: red;
  font-size: 20pt;
}
a {
  font font-family: 'indie flower' cursive;
  font-size: 20pt;
}
.myPotrait{
  width: 500px;
}

nav {
  list-style-type: lower-greek;
  margin: 0;
  padding: 0;
}
