body {
  background-image: url("sucker2.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 70pt;
}
h2 {
  color: white;
  font-size: 35pt;
}
h3 {
  color: black;
  font-size: 35pt:
}
a {
  color: white;
  font-size: 15pt;
  font font-family: 'indie flower' cursive;
}
a2 {
  color: black;
  font-size: 15pt
}
img {
  margin-left: 5px;
  margin-top: 200px;
}
