body {
  background-image: url("1359563471926476945.gif");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

h1 {
  color: blue;
  font-size: 70pt;
}
a {
  color: black;
  font-size: 20pt;
}
